<footer class="footer">
	<nav>
    <a href="{{ site.baseurl | prepend: site.url }}/">Home</a>
    <a href="{{ site.baseurl | prepend: site.url }}/privacy">Privacy</a>
    {% for menu in site.data.nav -%}
      <a href="{{ site.baseurl | prepend: site.url }}{{ menu.url }}">{{ menu.title }}</a>
    {% endfor -%}
  </nav>
  <div class="footer__credit">
    <div>
      <p>
        <small>
          Copyright &copy; 2003-<span id="year"></span>. All Rights Reserved.
        </small>
      </p>
    </div>
    {% include appearance.html %}
  </div>  
</footer>

<script type="text/javascript">
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>